@font-face {
  font-family: Atomic Alice;
  font-weight: 300;
  src: url(../assets/fonts/AtomicAlice-Light.ttf);
}
@font-face {
  font-family: Atomic Alice;
  font-weight: 400;
  src: url(../assets/fonts/AtomicAlice-Regular.ttf);
}
@font-face {
  font-family: Atomic Alice;
  font-weight: 500;
  src: url(../assets/fonts/AtomicAlice-Medium.ttf);
}
@font-face {
  font-family: DefyLogic;
  src: url(../assets/fonts/DefyLogic.ttf);
}
@font-face {
  font-family: Losta Masta;
  font-weight: 400;
  src: url(../assets/fonts/LostaMasta-Regular.ttf);
}
